/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../assets/fonts/lato-1.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'), url(../assets/fonts/lato-2.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../assets/fonts/lato-3.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'), url(../assets/fonts/lato-4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

$green: #86BB71;
$blue: #94C2ED;
$orange: #E38968;
$gray: #92959E;
$arrowOffset:3rem;

text-img.fixed {
    display: inline;
}
.pretty{
    font-family:"Lato", Arial, sans-serif;
    font-size: 16px;
    font-feature-settings:normal;
    font-kerning:auto;
    font-size:14px;
    font-stretch:normal;
    font-style:normal;
    font-variant-caps:normal;
    font-variant-ligatures:normal;
    font-variant-numeric:normal;
    font-weight:normal;
}
.message-data {
      margin-bottom: 15px;
}
    
.message-data-time {
      color: lighten($gray, 8%);
      padding-left: 6px;
}
    
.message {      
      color: white;
      padding: 1rem 1rem;
      line-height:2rem;
      font-size: 14px;
      border-radius: 1rem;
      position: relative;
      display: inline-block;
      max-width: 80rem;
      min-width: 6rem;
      min-height: 4rem;
      text-align: center;
      
      &:after {
        bottom: 100%;
        right: $arrowOffset;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
        border-bottom-color: $blue;
        border-width: 10px;
        margin-left: -10px;
      }
    }
.my-message {
      background: $blue;
    }
.other-message {
      background: $green;
      
      &:after {
        border-bottom-color: $green;
        left: $arrowOffset;
      }
}
.online, .offline, .me {
    margin-right: 3px;
    font-size: 10px;
  }
  
.online {
  color: $green;
}
  
.offline {
  color: $orange;
}
.fa-circle:before {
    content: "\f111";
}
.me {
  color: $blue;
}

.align-right {
  text-align: right;
}
.float-right {
  float: right;
}