// vars
$chat-bgcolor:  color($colors, chatbgc);
$chat-meBgcolor:#b2e281;
$align-width:5.5rem !default;
.lc-chat {
  ion-note {
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }
  img.fixed{
    border-radius:0rem;
    }
}

.content-ios, .item-ios, .content-md,.item-md , .content-wp,.item-wp {
    background-color: $chat-bgcolor;
}
.bubble {
    min-height: 0.5em;
    vertical-align: top;
    position: relative;
    font-size: 1.5rem;
}
.arrow{
    position: absolute;
    top: 2rem;
    border: 0.9rem solid transparent;
    content: "";
    width:0;  
    height:0;  
    font-size:0;  
}
.avatar_default:before {
    @extend .arrow;
    top: 3.2rem;
    left:$align-width;
    border-right-color: #fff;
}
.avatar_me:after {
    @extend .arrow;
    right:$align-width;
    border-left-color: $chat-meBgcolor;
}
.plain {
    border-radius: 0.6rem;
    padding: 1rem;
    display: inline-block;
    max-width: 80rem;
    min-height: 3.5rem;
    min-width: 4rem;
}
.plain.plain_default{
    background-color: #fff;
}
.plain.plain_me{
    background-color: $chat-meBgcolor;
}
.top{
    vertical-align: top;
}
