<ion-item text-wrap class="top pretty">
	<!--<ion-avatar class="avatar_default" item-left item-top *ngIf="!message.fromMe">
		<img class="fixed" [src]="message.avatar" *ngIf="message.avatar">
		<text-img *ngIf="!message.avatar || 0 === message.avatar.length" [text]="message.fromNameText"></text-img>
	</ion-avatar>
	<div item-left *ngIf="!message.fromMe">
		<h4>{{message.fromNameText}}</h4>
		<div class="plain plain_default">{{message.text}}</div>
	</div>
	<div class="plain plain_me" item-right *ngIf="message.fromMe">
		{{message.text}}
	</div>
	<ion-avatar class="avatar_me" item-right *ngIf="message.fromMe">
		<img class="fixed" [src]="message.avatar" *ngIf="message.avatar">
		<text-img *ngIf="!message.avatar || 0 === message.avatar.length" [text]="message.fromNameText"></text-img>
	</ion-avatar>-->

	<div class="message-data" *ngIf="!message.fromMe">
		<img class="fixed" [src]="message.avatar" *ngIf="message.hasAvatar && !message.isInPrivateConv">
		<div style="display: inline;">
			<text-img *ngIf="!message.hasAvatar && !message.isInPrivateConv" [text]="message.fromNameText"></text-img>
		</div>
		<span class="message-data-name"><i class="fa fa-circle online"></i> {{message.fromNameText}}</span>
		<span class="message-data-time">{{message.receivedAt | fromNow}}</span>
	</div>
	<div class="message other-message" *ngIf="!message.fromMe">
		{{message.text}}
	</div>
	<div class="message-data align-right" *ngIf="message.fromMe">
		<span class="message-data-time">{{message.receivedAt | fromNow}}</span> &nbsp; &nbsp;
		<!--<span class="message-data-name">Olia</span> <i class="fa fa-circle me"></i>-->
	</div>
	<div class="message my-message float-right" *ngIf="message.fromMe">
		{{message.text}}
	</div>
</ion-item>