<ion-list>
    <ion-item detail-none no-lines>
        <ion-avatar item-left>
            <img class="fixed" [src]="avatar" *ngIf="avatar">
            <text-img *ngIf="!avatar || 0 === avatar.length" [text]="nickName"></text-img>
        </ion-avatar>
        <h4>{{markName}}</h4>
        <p>用户ID：{{clientId}}</p>
        <p>昵称：{{nickName}}</p>
        <ion-icon name="star" color="weixinOrange" item-right *ngIf="isStared"></ion-icon>
    </ion-item>
    <ion-item-divider class="lcdivider"></ion-item-divider>
    <button ion-item detail-none no-lines (click)="navToSetTags($event)">设置备注和标签</button>
    <ion-item-divider class="lcdivider"></ion-item-divider>
    <ion-item>
        <ion-label class="stacked" item-left>地区</ion-label>
        <ion-note item-left>
            {{location}}
        </ion-note>
    </ion-item>
    <button ion-item detail-none no-lines>
        <ion-label class="stacked" item-left>个人相册</ion-label>
        <ion-thumbnail item-left>
            <img src="assets/img/advance-card-alaska.jpg">
        </ion-thumbnail >
        <ion-thumbnail item-left>
            <img src="assets/img/advance-card-bttf.png">
        </ion-thumbnail>
        <ion-thumbnail item-left>
            <img src="assets/img/advance-card-london.jpg">
        </ion-thumbnail>
    </button>
    <button ion-button block (click)="navToChat($event)" color="weixinGreen">发消息</button>
    <button ion-button block (click)="navToChat($event)" color="light">视频聊天</button>
</ion-list>