<ion-list>
  <!--<ion-item>
    <ion-avatar item-left item-top>
      <img src="assets/img/icon-add-friend.svg">
    </ion-avatar>
    <button item-left item-top ion-button icon-only>
      <ion-icon name="home"></ion-icon>
    </button>
  </ion-item>-->

  <!--<ion-item text-left>
    <text-img text="+" item-left></text-img>
    <button ion-button item-right block clear>
      新的朋友
    </button>
  </ion-item>-->

  <button ion-item detail-none (click)="popupSearchFriend($event)">
     <ion-icon name="add" item-left></ion-icon>
     <b item-left>新的朋友</b>
  </button>
  <button ion-item detail-none (click)="popupSearchFriend">
     <ion-icon name="contacts" item-left></ion-icon>
     <b item-left>群聊</b>
  </button>
  <button ion-item detail-none (click)="popupSearchFriend">
     <ion-icon name="pricetag" item-left></ion-icon>
     <b item-left>标签</b>
  </button>
  <button ion-item detail-none (click)="popupSearchFriend">
     <ion-icon name="ribbon" item-left></ion-icon>
     <b item-left>公众号</b>
  </button>
</ion-list>